/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 20px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 4rem;
  color: #fff;
}

#menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  max-width: 90%;
  padding-bottom: 1rem;
}

header nav ul li {
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

form label {
  font-weight: bold;
  margin-bottom: 1rem;
  display: inline;
}

form select,
form input {
  margin-bottom: 20px;
  width: 60%;
  max-width: 180px;

}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}

.form-element {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 90%;
  padding: 0 20px;
}

/* ------- About ------ */

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#about img {
  margin-bottom: 1rem;
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
/* mobile first */
@media all and (min-width: 480px) {


  /* about */

  #about div {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
  }

  /*  ideas */

  .group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }

  .group-double {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  .item {
    flex: 1 1 45%; /* will have each item take up 45% of the row */
    margin: 10px;
  }

  .item-quarter {
    flex: 1 1 22%;
  }

  .item-half {
    flex: 1 1 45%;
  }
}

@media all and (min-width: 768px) {
    header {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  form {
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  }

  form button,
  form select,
  form input {
    width: 100%;
    max-width: 180px;
  }
  .form-element {
    flex-direction: column;
    min-width: 0;
    margin-right: 1rem;
    padding: 0;
  }
}