/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-content: center;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

.group {
  display: flex;
  flex-direction: column;
}

main img {
 /* width: 100px; */
  align-content: center;
  justify-content: space-around;
  margin-bottom: 20px;
  height: 100%;
  width: 100%;
}

/* ---  Groups & Items --- */



.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
}

/* -------  Navigation ------- */

header {
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

header nav {
  display: flex;
  justify-content: center;
  padding: 0 30px;
}

.logo {
  font-family: "Pangolin", cursive;
  font-size: 60px;
  color: #fff;
}

header nav ul {
  display: flex;
  padding-left: 0;
  list-style: none;
}

header nav ul li {
  display: flex;
  padding-left: 0;
  list-style-type: none;
}

header nav ul li a {
  color: #fff;
  text-decoration: none;
  margin: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
  width: 100%;
  /* max-width: 500px; */
  margin: 0 auto;
  border: 2px solid #ff385c;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.location, .arrival, .depart, .type {
  display: flex;
  justify-content: space-between;
}

form label {
  font-weight: bold;
  justify-content: space-between;
}

form select,
form input {
  /* margin-bottom: 20px; */
  width: 180px;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  /* width: 150px; */
  /* height: 35%; */
  /* margin-top: 10px; */
}

/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px){
  form {
    flex-direction: row;
    justify-content: space-between;
  }
  .location, .arrival, .depart, .type {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
  }
  section {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
  }
  .container {
    display: flex;
    align-items: center;
  }
  .column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
  }
  #stay {
    flex-direction: column;
  }
  #about img {
    height: 300px;
    width: 450px;
    margin-right: 20px;
  }
  header nav {
    display: flex;
    justify-content: flex-end;
    padding: 0 30px;
    float: right;
  }
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  h2{
    display: flex;
    flex-direction: column;
  }
  form button {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  #host {
  flex-direction: row;
  }
  #host img {
  height: 50%;
  width: 50%;
}
  .img-row {
  display: flex;
  flex: 1;
  gap: 20px;
  }
  .img-column {
  display: flex;
  flex-direction: column;
  flex: 2;
  }
}